<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="destinationUNC" value="\\SERVER\UNCPath"/> <!--UNC path of the destination-->
    <add key="username" value="computername\username"/> <!--UNC path auth username-->
    <add key="password" value="password"/> <!--UNC path auth password-->
    <add key="destinationDriveLetter" value="K:"/> <!--Network drive letter map to UNC path-->
    <add key="sourceDir" value="C:\SourceDir"/> <!--Robocopy Source Directory-->
    <add key="destinationDir" value="C:\DestinationDir"/> <!--Robocopy Destination Directory-->
    <add key ="robocopySwitches" value="/MIR /R:3 /W:10 /Z /NP"/> <!--Robocopy Switches-->
    <add key="smtpHost" value="SERVER"/> <!--SMTP host-->
    <add key="smtpPort" value="25"/> <!--SMTP port-->
    <add key="smtpSSL" value="false"/> <!--SMTP SSL - True or False-->
    <add key="smtpUsername" value="username"/> <!--SMTP username-->
    <add key="smtpPassword" value="password"/> <!--SMTP password-->
    <add key="smtpDomain" value="domain"/> <!--SMTP Domain-->
    <add key="smtpFrom" value="administrator@domain.com"/> <!--SMTP From Address-->
    <add key="smtpTo" value="support@indusflow.com"/> <!--SMTP To Address-->
    <add key="smtpSubjectSrvName" value="server"/> <!--SMTP subject header - type server name. Value will be wraped with squarbrackets automatically-->
    <add key="maxRuntime" value="14"/> <!--Robocopy max runtime. Value is in hours-->
    
  </appSettings>
</configuration>